<ion-app>
  <ion-header>
    <ion-toolbar class="_ionic-header">
      <img src="assets/img/menu-logo.png" alt="" class="menu-icon" (click)="openFirst()">
      <div class="content-logo">
        <img src="assets/img/grey-logo.svg" alt="">
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-menu side="start" menuId="first" contentId="menu-content" class="_menu">
      <ion-list>
        <ion-item [routerLink]="['/articles']">Artículos</ion-item>
        <ion-item [routerLink]="['/projects']">Proyectos</ion-item>
        <ion-item [routerLink]="['/sign-up']">Registrarse</ion-item>
        <ion-item [routerLink]="['/login']">Iniciar sesión</ion-item>
        <ion-item [routerLink]="['/voting-windows']">Votaciones abiertas</ion-item>
      </ion-list>
  </ion-menu>


  <ion-content>
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-content>
  
</ion-app>
