<ion-content class="_ion-content">
  <div class="grid-x">
    <div class="cell small-12 article">
      <img src="assets/img/parque.jpg" alt="" class="img-article">
    </div>
  </div>
  <br>
  <div class="grid-x grid-margin-y grid-padding-x">
    <div class="cell small-12">
      <span class="t-bold"> {{d.title}} </span>
    </div>
  </div>
  <br>
  <div class="grid-x grid-margin-y grid-padding-x">
    <div class="cell small-12 f12" [innerHTML]="d.content">
    </div>
  </div>
  <br>
  <br>
  <div class="grid-x grid-margin-y grid-padding-x">
    <div class="cell small-12 f12">
      {{d.created_at | date:'medium'}}
    </div>
  </div>
</ion-content>