@import "__init__";

.content-project {

    position: relative;

    .content-img-project {
        text-align: center;
        padding: 15px;
        .img-project {
            width: 100%;
            height: auto;
        }
    }

    .date {
        position: absolute;
        bottom: 10px;
    }
}