<ion-content class="_ion-content">
  <div class="grid-x">
    <div class="cell small-12 project">
      <img src="assets/img/parque.jpg" alt="" class="img-project">
    </div>
  </div>
  <br>
  <div class="grid-x grid-margin-y grid-padding-x">
    <div class="cell small-12">
      <span class="t-bold"> {{d.name}} </span>
    </div>
  </div>
  <br>
  <div class="grid-x grid-margin-y grid-padding-x">
    <div class="cell small-12 f12" [innerHTML]="d.description">
    </div>
  </div>
  <br>
  <br>
  <div class="grid-x grid-margin-y grid-padding-x">
    <div class="cell small-12 f12">
      <span class="t-bold">Inversión:</span> {{d.investment}}
      <br>
      <span class="t-bold">Fecha de inicio:</span> {{d.created_at | date:'medium'}}
      <br>
      <span class="t-bold">Duración:</span> {{d.duration}}
    </div>
  </div>
</ion-content>