<ion-content class="_ion-content">
  <div class="grid-x">
    <div class="cell small-12 first-article">
      <img src="assets/img/calabaza.jpg" class="img-project" alt="">
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 margin-top-1">
      <span class="title">Remodelación parque infantil</span>
      <div class="description margin-top-1">
        Una de las propuestas más importantes para la comunidad, se plantea mejorar la infraestructura del parque infantil
      </div>
      <div class="date-content">
        Fecha inicial: <span class="date-project">Nov 26 de 2020</span>
      </div>
      <div class="date-content">
        Fecha final: <span class="date-project">Diciembre 31 de 2020</span>
      </div>
    </div>
  </div>
</ion-content>