<ion-content class="_ion-content">
  <br>
  <div class="grid-x margin-top-1">
    <div class="cell small-10 small-offset-1">
      <label for="">Correo electrónico</label>
      <input type="text" id="email" class="_form-input" />

      <label for="">Identificación</label>
      <input type="text" id="identification" class="_form-input" />

      <label for="">Nombre</label>
      <input type="text" id="name" class="_form-input" />

      <label for="">Apellidos</label>
      <input type="text" id="lastname" class="_form-input" />

      <label for="">Celular</label>
      <input type="text" id="phone" class="_form-input" />

      <button class="btn-action btn-save">Registrarse</button>
    </div>
  </div>  
</ion-content>